<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:text-align="http://www.w3.org/1999/xhtml" lang="cs"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="My lovely web page"/>
    <meta name="robots" content="index, follow"/>
    <meta name="keywords" content="java, web"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Weather Forecast</title>
    <link
        href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i|Raleway:400,400i,700,700i&amp;subset=latin-ext"
        rel="stylesheet"/>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{'css/bootstrap.min.css'}"/>

    <link rel="shortcut icon" href="../static/images/dog_ico" th:href="@{'images/dog_ico'}" type="image/x-icon"/>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

</head>

<div>
    <div th:insert="fragments/menu :: menu">menu</div>
    <div class="container">
        <div class="jumbotron">
            <div>
                <h1 class="display-3">What will be the weather like? </h1>
                <form method="post">
                    <div>
                        <div class="range_form">
                            <div class="form-group">
                                <label for="name-of-place">Search for your place</label>
                                <input class="form-control" id="name-of-place" name="place">
                                <div class="text-danger" th:if="${message != null}" th:text="${message}">
                                    Everything is working fine.
                                </div>
                            </div>
                        </div>
                        <input type="submit" id="getForecast" class="btn btn-warning" value="Get the forecast">
                    </div>
                </form>

                <h3 class="display-4 text-success">Weather forecast for <span th:text="${nameOfPlace}">Amsterdam</span></h3>

                <div>
                    <div th:each="day : ${iconDays}">
                        <img src="../static/images/Clear.png" class="column-icon" th:src="@{'images/' + ${day.conditionsIcon}}"
                             alt="weatherIcon">
                    </div>
                    <table style="width: 100%; text-align: center">
                        <col style="width:33%">
                        <col style="width:33%">
                        <col style="width:33%">
                        <theader style="line-height: 2.0rem">
                            <td style="font-weight: bold">Today</td>
                            <td style="font-weight: bold">Tomorrow</td>
                            <td style="font-weight: bold">Day after tomorrow</td>
                        </theader>
                        <tr>
                            <td th:each="day : ${iconDays}" scope="col">
                                <span th:text="${day.readableDate}"></span></td>
                        </tr>
                        <tr>
                            <td th:each="day : ${iconDays}" scope="col">
                                <span th:text="${day.temp}"></span>°C
                            </td>
                        </tr>
                        <tr>
                            <td th:each="day : ${iconDays}" scope="col">
                                <span th:text="${day.precip}"></span> mm precipitation
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <h3 class="display-4 text-success" style="padding-top: 10px" >Time series showing 10 days in past and 10 days in future</h3>
            <div id="chartGraph" style="padding-top: 30px">
                <svg class="line-chart"></svg>
            </div>

            <div>
            <img src="../static/images/arrow.png" th:src="@{images/arrow3.png}" class="arrow"/>
                <p class="text-success" style="text-align: center">today</p>
            </div>

        </div>
        <footer class="paticka">
            <div>
                <p th:insert="fragments/footer :: footer">Footer</p>
            </div>
        </footer>
    </div>
</div>


<script>
    var temperatureSerie = "[[${temperatureSerie}]]";
</script>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="/js/app.js"></script>


</body>
</html>
