<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:text-align="http://www.w3.org/1999/xhtml" lang="cs"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="My lovely web page"/>
    <meta name="robots" content="index, follow"/>
    <meta name="keywords" content="java, web"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Weather Forecast</title>
    <link
        href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i|Raleway:400,400i,700,700i&amp;subset=latin-ext"
        rel="stylesheet"/>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="${'css/bootstrap.min.css'}"/>

    <link rel="shortcut icon" href="../static/images/dog_ico" th:href="${'images/dog_ico'}" type="image/x-icon"/>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

</head>

<body onload="loadData();">

<div>
    <div th:insert="fragments/menu :: menu">menu</div>
    <div class="container">
        <div class="jumbotron">

            <h1 class="display-1">Weather Forecast and History </h1>
            <h2 class="display-2">Insert a place and get the forecast and weather history.</h2>

            <form method="post">
                <div>
                    <div class="range_form">
                        <div class="form-group">
                            <label for="nameOfPlace">Jaké je jeho jméno?</label>
                            <input class="form-control" id="nameOfPlace" aria-describedby="emailHelp"
                                   name="place">
<!--                            <small id="emailHelp" class="form-text text-muted">Bez jména se formulář neodešle</small>-->
                        </div>
                    </div>
                </div>
            </form>

            <h3 class="display-3">Weather forecast for:</h3>
            <h4 class="display-4" th:text="${address}">Amsterdam</h4>


            <div class="row">
                <div class="column_icon">

                    <img src="cloud.png" th:src="${'images/cloud.png'}" alt="Snow" style="width:100%">

                    <table th:each="day: ${iconForecast}">
                        <tr th:text="${day.temp}"/>
                        <tr th:text="${day.precip}"/>
                        <tr th:text="${day.readableDate}"/>

                    </table>

                </div>

                <!--                <div class="column_icon">
                                    <img src="rain.png" th:src="${'images/rain.png'}" alt="Forest" style="width:100%">
                                </div>
                                <div class="column_icon">
                                    <img src="sun.png" th:src="${'images/sun.png'}" alt="Mountains" style="width:100%">
                                </div>
                            </div>-->


                <!--<div class="card border-primary mb-3" style="max-width: 40rem; margin-top: 80px; margin-bottom: 30px;">
                    <div class="card-header">Today is: <span th:text="${dailyWeather[0].readableDate}"> 1.1.1970</span></div>
                    <div class="card-body">


                        <p class="card-text">Weather Forecast<span
                            th:text="${actualRate.last}">for free</span>CZK</p>
                        <p class="card-text">The rate change since yesterday last trade is <span
                            th:text="${actualRate.change}"> -5%</span> %</p>

                        <div class="form-group">
                            <label for="locationToLookUp">Jaké je jeho jméno?</label>
                            <input class="form-control" id="locationToLookUp" aria-describedby="fieldHelp"
                                   name="insertedLocation">
                            <small id="fieldHelp" class="form-text text-muted">Bez jména se formulář neodešle</small>
                        </div>


                    </div>
                </div>

                <canvas id="myChart" width="400" height="400">
                </canvas>

                <table class="table table-hover table-bordered">
                    <tr>
                    <tr class="table-primary">
                        <th>Date
                        </th>
                        <th>Currency Rate CZK/BitCoin
                        </th>
                        <th>Change from the previous day
                        </th>
                    </tr>
                    <div th:each="oldRate : ${rateHistory}">
                        <tr>
                            <td th:text="${oldRate.date}" class="table-secondary"></td>
                            <td class="table-secondary"><span th:text="${oldRate.last}"></span> CZK for 1
                                BitCoin
                            </td>
                            <td class="table-secondary"><span th:text="${oldRate.change}"></span> %</td>
                        </tr>
                    </div>
                </table>-->
            </div>


            <footer class="paticka">
                <div>
                    <p th:insert="fragments/footer :: footer">Footer</p>
                </div>
            </footer>
        </div>
    </div>

    <script src="js/app.js"></script>
</body>
</html>
